.App {
  text-align: center;
  background: #48cae4;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login-Container {
  display: flex;
  flex-direction: row;
}
